#shop-window {
    border-right: 2px solid #ddd;
    padding-right: 20px;
}
    
.product-image img{
    float: left;
    padding: 15px;
    height: 250px;
    width: 200px;
}

.product-add {
    clear: both;
    margin: 15px;
    padding-left: 50px;
}

.product-name {
	line-height:0;
	padding-top: 20px;
}

.product-owner {
	padding: 0;
}

.price {
    color: #900;
}

.cart-zone {
	height: 300px;
	background-color: lightblue;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 1px dashed blue;
	margin: 0 auto !important;
}

.side-zone {
	margin: 0 !important;
  	padding: 0 !important;
	position: absolute;
	height: 100% !important;
	width: 15%;
	left: 350px !important;
}

.cart-zone p { 
	display: table-cell; 
	height: 100px;
	vertical-align: middle;
	padding-left: 110px;
	color: grey;
	font-size: 3em;
}

#search-nav {
	padding-top: 50px;
}

#cart-summary {
	margin-top: 50px;
	margin-botton: 50px;
}

#cart-total {
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 300px;
	height: 120px;
	background-color: #111111;
}

#cart-total h2 {
    margin: .75em;
    font-size: 2em;
    border-bottom: 1px solid #fbb117;
	color: white;
}

#cart-total .input-prepend {
    margin: 0 50px 20px 20px !important;
}

#cart-total input {
	width: 200px;
}
